[access "refs/heads/*"]
abandon = example1 example1-core
label-Code-Review = -2..+2 example1 example1-core
label-Workflow = -1..+1 example1 example1-core

[access "refs/tags/*"]
pushSignedTag = example1 example1-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true