[access "refs/heads/*"]
abandon = group example1-core
label-Code-Review = -2..+2 group example1-core
label-Workflow = -1..+1 group example1-core

[access "refs/tags/*"]
pushSignedTag = group example1-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true